.service-details{
    background-color: rgb(34, 31, 31);
}
.btn1{
    
    background-color: black;
    padding: 12px;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: 600;
}
.btn1:hover{
    background-color: #161314;
}