.ser-details{
    /* background-color: rgb(5, 112, 116); */
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("https://images.thrillophilia.com/image/upload/s--7q0ieCyr--/c_fill,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/097/273/original/1562745141_passagens-aereas-phuket-capa2019-01_(1).jpg.jpg?1562745141");
    background-repeat: no-repeat;
    background-size: cover;
}
.bb{
    background-color: rgb(202, 200, 200);
}