.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.add-service form input,textarea{
    width: 40%;
    margin-bottom: 10px;
}
.add-service{
    background-color: rgb(63, 29, 57);
}
.form-ss{
    background-color: rgb(201, 201, 201);
    padding: 10px;
    border: 30px;
    
}
